# wine-tkg
*.mypatch linguist-language=Diff
*.myrevert linguist-language=Diff
*.myearlypatch linguist-language=Diff
*.myearlyrevert linguist-language=Diff
*.mystagingpatch linguist-language=Diff
*.mystagingrevert linguist-language=Diff
# proton-tkg
*.myprotonpatch linguist-language=Diff
*.myprotonrevert linguist-language=Diff
*.mydxvkpatch linguist-language=Diff
*.mydxvkrevert linguist-language=Diff
*.myvkd3dpatch linguist-language=Diff
*.myvkd3drevert linguist-language=Diff

