name: Wine Ubuntu CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v2
      - name: Compilation
        run: |
          sudo dpkg --add-architecture i386 && sudo apt update
          cd wine-tkg-git 
          sed -i 's/distro=""/distro="debuntu"/' customization.cfg
          yes|./non-makepkg-build.sh
      - name: Archive the artifacts
        uses: actions/upload-artifact@v2
        with:
          name: wine-tkg-build
          path: wine-tkg-git
